/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/reset.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&led_strip { chain-length = <27>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <31 32>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <27 28>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <28 29>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <17 18>;
        };
    };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp A &kp S &kp W &kp I &kp D &kp E &kp R &kp S &kp K &kp I &kp AT &kp P &kp M &kp DOT &kp M &kp E>;
            label = "EMAIL";
        };

        reformat: reformat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LA(LG(L))>;
            label = "REFORMAT";
        };

        find: find {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LG(LS(F))>;
            label = "FIND";
        };

        terminal: terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LA(GRAVE)>;
            label = "TERMINAL";
        };

        save: save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LG(LS(S))>;
            label = "SAVE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BAS";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q       &kp W       &kp E                     &kp R            &kp T          &kp Y        &kp U        &kp I        &kp O       &kp P          &trans
&trans  &hm LGUI A  &hm LALT S  &hm LSHFT D               &hm LCTRL F      &kp G          &kp H        &hm RCTRL J  &hm RSHFT K  &hm RALT L  &hm RGUI SEMI  &trans
&trans  &kp Z       &kp X       &kp C                     &kp V            &kp B          &kp N        &kp M        &kp COMMA    &kp DOT     &kp FSLH       &trans
                                &hm LG(BACKSPACE) ESCAPE  &lt 2 BACKSPACE  &lt 1 SPACE    &lt 1 ENTER  &lt 2 TAB    &kp RALT
            >;
        };

        lower_layer {
            display-name = "LOW";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp ASTERISK        &kp NUMBER_7           &kp NUMBER_8             &kp NUMBER_9        &kp PLUS     &kp PIPE   &kp LEFT_BRACE              &kp RIGHT_BRACE                    &kp AT_SIGN           &kp EXCLAMATION     &trans
&trans  &hm LEFT_GUI COLON  &hm LEFT_ALT NUMBER_4  &hm LEFT_SHIFT NUMBER_5  &hm LCTRL NUMBER_6  &kp MINUS    &kp GRAVE  &hm RCTRL LEFT_PARENTHESIS  &hm RIGHT_SHIFT RIGHT_PARENTHESIS  &hm RIGHT_ALT DOLLAR  &hm RIGHT_GUI HASH  &trans
&trans  &kp BACKSLASH       &kp NUMBER_1           &kp NUMBER_2             &kp NUMBER_3        &kp EQUAL    &kp TILDE  &kp LEFT_BRACKET            &kp RIGHT_BRACKET                  &kp CARET             &kp PERCENT         &trans
                                                   &kp NUMBER_0             &trans              &trans       &trans     &trans                      &trans
            >;
        };

        raise_layer {
            display-name = "RAI";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1           &kp F2       &kp F3             &kp F4        &kp SINGLE_QUOTE    &kp DOUBLE_QUOTES  &kp PAGE_UP  &kp PAGE_DOWN  &find      &reformat  &trans
&trans  &hm LEFT_GUI F5  &hm LALT F6  &hm LEFT_SHIFT F7  &hm LCTRL F8  &hm LG(V) LG(C)     &kp LEFT           &kp DOWN     &kp UP_ARROW   &kp RIGHT  &kp BSLH   &trans
&trans  &kp F9           &kp F10      &kp F11            &kp F12       &kp PRINTSCREEN     &terminal          &kp LA(TAB)  &find          &reformat  &email     &trans
                                      &trans             &trans        &trans              &trans             &trans       &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        FUN {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
